.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.auth-card {
    background: var(--surface-color);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: var(--shadow-elevation-medium);
    width: clamp(320px, 90%, 400px);
    text-align: center;
}

.auth-header {
    margin-block-end: 2rem;
}

.auth-header .logo {
    margin-block-end: 1rem;
}

.auth-header h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-block-end: 0.5rem;
}

.auth-header p {
    color: var(--text-color-light);
}

.auth-form input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-block-end: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-block-end: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.auth-button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: oklch(50% 0.15 285.58);
}

.auth-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    color: #aaa;
}

.auth-divider span {
    padding: 0 1rem;
}

.auth-divider::before,
.auth-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.social-auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-button {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.social-button:hover {
    background-color: #f9f9f9;
    border-color: #bbb;
}

.social-button i {
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

.social-button.google-button {
    color: #4285F4;
}

.auth-footer {
    margin-top: 2rem;
}

.auth-footer p {
    font-size: 0.9rem;
}

.auth-footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}